
/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}




.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}



.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(http://upload.wikimedia.org/wikipedia/commons/5/56/Comet_Lovejoy_2011_Milky_Way_Wide_Field.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.header .right-box, .header .left-box{
    display: inline-block;
    width:400px;
}
.header .right-box{
    text-align:left;
}

.header .right-box div{
    margin:10px 0px;
}

.header #mc_embed_signup{
    margin:40px 10%;
    padding: 20px 20px;
    background-color:rgba(10,10,10,0.4);
    color: white;
}
#mc_embed_signup select, #mc_embed_signup button, #mc_embed_signup input{
    padding:4px;
    color: black;
    width:100%
}

#mc_embed_signup input.button{
    width:100%;
    background-color: #1a3;
    border:none;
    box-shadow: none;
    height:35px;
    border-radius: 10px;
    margin-top:20px;
    color:white;
    font-weight: 700;
    font-size:1.2em;
}

#mc_embed_signup .datefield{
    display:inline-block;
}

#mc_embed_signup label{
    display:block;
}

.hero{
    text-align: center;
    color:#fff;
    margin-bottom:50px;
    font-size: 4.2em;
    font-weight: 700;
    padding:10px;
    margin: 100px 0px 100px 0px;
}

div.box-holder small{
    color:#ddd;
}
div.box-holder{
        background-color: rgba(10,10,10,0.6);
        vertical-align: center;
        text-align: center;
            margin-left: auto;
    margin-right: auto;
}
div.left-box{
    color:white;
}

div.left-box h2{
    margin:20px 0px;
}

div.left-box ul{
    text-align:left;
}

footer{
    text-align: center;
    color:white;
    background-color:black;
    padding-bottom: 30px;
}
@media (max-width: 810px) {
    .header .right-box, .header .left-box{
        width:100%;
        margin: 20px 0px;
    }
    .header .right-box #mc_embed_signup{
    margin:0px;
    width:100%;
}

}
